<%- include('./_partials/head') %>

<h1>Welcome to game.it!</h1>
<h2>make friends, play games</h2>

    <form class='search-form' action='/games/search' method='GET'>
        <input class="input is-info search" type='text' name='title' placeholder='Search Games'>
        <button class="button is-link is-outlined is-rounded is-small search" type='submit'>Search</button>
    </form>
    <%- include('./_partials/footer') %>