<%- include('./_partials/head') %>

    <form class='search-form' action='/games/search' method='GET'>
        <input class="input is-info" type='text' name='title' placeholder='Search Games'>
        <a class="button is-link is-outlined is-rounded is-small" type='submit'>Search</a>
        </input>
    </form>

    <%- include('./_partials/footer') %>