* {
  font-family: 'Lilita One', cursive;
}

body {
  margin: 5px 30px;
}

h1 {
  font-size: 40px;
}

a {
  color: black;
}

.search-form {
  width: 100%;
}

/* nav bar */

.navbar.is-link {
  display: flex;
  margin: 15px auto;
}

.navbar {
  min-height: 3.25rem;
  max-height: 3.25rem;
}

.nav-logo {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin: 0px 15px;
}

.navbar-color {
  color: white;
}

/* nav bar end */

.button.is-link.is-outlined {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
  margin: 10px auto;
}

.input.is-info, .textarea.is-info {
  display: flex;
  max-width: 300px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
}