* {
  font-family: 'Lilita One', cursive;
}

.card {
  background-color: #515B64;
  box-shadow: 3px 5px 30px #383F45;
}

html {
  background-color: #515B64;
  transform: scale(1)
}

body {
  margin: 70px 30px;
}

hr {
  background-color: #383F45;
}

ol {
  margin-top: 20px;
}

a:hover {
  color: #F6B635;
}

.columns {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 32px;
  color: white;
}

h2, label, strong {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

h4 {
  margin: 0px auto;
  font-size: 40px;
  color: #F6B635;
}

.home-header {
  padding-right: 160px;
}

h5 {
  font-size: 40px;
  color: white;
  margin: -7px 5px;
}

h6 {
  font-size: 24px;
  color: white;
  margin: 0px 55px;
}

span {
  font-size: 18px;
  margin: 0px 10px;
}

.homepage-all {
  margin: auto;
  width: 50%;
}

.homepage-partners {
  width: 300px;
  margin: 0 auto;
  padding: 150px 0px;
}

.label-property {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

p, ul {
  color: white;
  font-size: 14px;
}

li {
  color: white;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.all-users {
  text-align: left !important;
  margin-bottom: 10px;
}

.show-user-games {
  text-align: left !important;
  margin-bottom: 30px;
}

li:hover {
  color: #F6B635;
}

.user-lib-prof {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 15px auto;
  justify-content: center;
}

.search-form {
  width: 100%;
  height: 100px;
  margin: 0px -280px;
}

.profile-platforms {
  display: inline;
}

.img-username {
  display: flex;
  flex-direction: row;
}

.all-properties {
  display: flex;
  flex-wrap: wrap;
  margin: -95px 0px 15px 70px;
}

.platform-show {
  margin: -15px 50px;
  padding: 15px 0px;
}

.media {
  align-items: flex-start;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.media-left {
  margin-right: 0rem;
  min-width: 70px;
}

.media2 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  min-width: 335px;
  margin: 55px -80px;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
}

.hero-body {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: -90px 0px -110px 0px;
}

.hero.is-success {
  background-color: #F6B635;
  color: white;
  border: solid #383F45 2px;
  padding: 0px 0px 55px 0px;
  margin: 87px 0px 0px;
}

.card-content {
  padding: 15px 15px;
  margin: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

/* images */

.avatar {
  height: 70px;
  width: 70px;
  border: solid white 3px;
  border-radius: 80%;
  margin: 10px auto;
}

.avatar-chat {
  border: solid white 2px;
  border-radius: 80%;
  margin: 5px 20px;
}

.avatar-lib {
  height: 90px;
  width: 90px;
  border: solid whitesmoke 2px;
  box-shadow: 2px 3px 10px #383F45;
  margin: 0px 30px;
}

img {
  height: 90px;
  width: 90px;
}

/* nav bar */

.navbar.is-link {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
}

.navbar {
  min-height: 4rem;
  max-height: 4rem;
  position: static;
  box-shadow: 0 0px 0 0 #f5f5f5;
}

.nav-logo {
  max-width: 65px;
  max-height: 65px;
  margin: 0px 0px 0px 9px;
}

.navbar-color {
  color: white;
  text-decoration: none;
}

.navbar-menu {
  background-color: #383F45;
  padding-left: 7px;
  padding-right: 20px;
}

.navbar-brand {
  background-color: #F6B635;
}

.navbar-brand:hover {
  background-color: white;
}

/* buttons */

.button.is-link.is-outlined {
  background-color: transparent;
  border-color: #F6B635;
  color: white;
  margin: -64px 280px;
  font-weight: normal;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
}

.button.is-link.is-outlined:hover {
  background-color: #F6B635;
  border-color: #F6B635;
  color: white;
}

.button.is-link.is-outlined.search {
  background-color: transparent;
  border-color: #F6B635;
  color: white;
  margin: 0px 110px;
  font-weight: normal;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
}

.button.is-link.is-outlined.search:hover {
  background-color: #F6B635;
  border-color: #F6B635;
  color: white;
}

.button.is-link.is-outlined.results {
  background-color: transparent;
  border-color: #F6B635;
  color: white;
  margin: -50px 540px;
  font-weight: normal;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
}

.button.is-link.is-outlined.results:hover {
  background-color: #F6B635;
  border-color: #F6B635;
  color: white;
}

.button.is-link.is-outlined.show {
  background-color: transparent;
  border-color: white;
  margin: 150px 0px;
  position: absolute;
  font-weight: normal;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
}

.button.is-link.is-outlined.show:hover {
  background-color: white;
  border-color: white;
}

.button.is-link.is-outlined.lib {
  background-color: transparent;
  border-color: #F6B635;
  font-weight: normal;
  margin: -15px auto;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
}

.button.is-link.is-outlined.lib:hover {
  background-color: #F6B635;
  border-color: #F6B635;
  color: white;
}

.button.is-link.is-outlined.remove {
  background-color: transparent;
  border-color: #F6B635;
  font-weight: normal;
  margin: 15px auto;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
}

.button.is-link.is-outlined.remove:hover {
  background-color: #F6B635;
  border-color: #F6B635;
  color: white;
}

.button.is-link.is-outlined.prof {
  background-color: transparent;
  border-color: #F6B635;
  margin: -513px 260px;
  font-weight: normal;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
}

.button.is-link.is-outlined.prof:hover {
  background-color: #F6B635;
  border-color: #F6B635;
  color: white;
}

.button.is-link.is-outlined.edit {
  background-color: transparent;
  border-color: #F6B635;
  color: white;
  margin: 0 auto;
  font-weight: normal;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
}

.button.is-link.is-outlined.edit:hover {
  background-color: #F6B635;
  border-color: #F6B635;
  color: white;
}

.edit-btn {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.edit-btn:hover {
  color: #F6B635 !important;
}

.edit-btn2 {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.edit-btn2:hover {
  color: white !important;
}

/* inputs */

.input.is-info, .textarea.is-info {
  display: flex;
  max-width: 300px;
  width: 250px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  margin: 34px 15px;
  border-width: 2px;
  border-color: #F6B635;
  color: #404851;
}

.input.is-info.results, .textarea.is-info {
  display: flex;
  max-width: 300px;
  width: 250px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  margin: 20px 280px;
  border-width: 2px;
  border-color: #F6B635;
  color: #404851;
}

.input.is-info.nav, .textarea.is-info {
  display: flex;
  max-width: 300px;
  width: 250px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  margin: 34px 15px;
  border-width: 2px;
  border-color: #F6B635;
  color: #404851;
}

.input.is-info.search, .textarea.is-info {
  display: flex;
  max-width: 400px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  margin: 20px -45px;
  border-width: 2px;
  border-color: #F6B635;
  color: #404851;
  width: 380px;
}

.input.is-info.edit, .textarea.is-info {
  display: flex;
  max-width: 300px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  margin: 0px 0px;
  border-width: 2px;
  border-color: #F6B635;
  color: #404851;
}

/* live chat */

.textarea {
  display: block;
  max-width: 100%;
  min-width: 50%;
  padding: .625em;
  width: 50%;
  resize: vertical;
  font-family: 'Lilita One', cursive;
  border-width: 2px;
  border-color: #F6B635;
  color: #404851;
}

@media only screen and (max-width: 540px) {
  .chat-sidebar {
    display: none !important;
  }
  .chat-popup {
    display: none !important;
  }
}



.chat-name {
  font-size: 14px;
  margin: 0px -10px;
}

.chat-sidebar {
  width: 200px;
  position: fixed;
  height: 100%;
  right: 0px;
  top: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F6B635;
}

.chat-space:hover {
  background-color: #383F45;
}

.sidebar-name {
  color: white;
}

.sidebar-name a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.sidebar-name img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.popup-box {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 220px;
  height: 285px;
  background-color: #FFFFFF;
  width: 300px;
  border: 2px solid #F6B635;
  ;
}

.popup-box .popup-head {
  background-color: #F6B635;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  clear: both;
}

.popup-box .popup-head .popup-head-left {
  float: left;
}

.popup-box .popup-head .popup-head-right {
  float: right;
  opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a {
  text-decoration: none;
  color: inherit;
}

.popup-box .popup-messages {
  height: 100%;
  overflow-y: scroll;
}

.chat-room {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow-y: scroll;
  position:   relative;
}

.chat-contents{
  font-size: 10px;
  overflow: auto;
}

.chat-time{
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 9px;
}

#chat-avatar{
  width: 45px;
  height: 45px;
}

#chat-submit{
  width: 100%;
  height: 30px;
  margin-top: 15px;
}

.textarea:not([rows]) {
  min-height: 0px;
}

