* {
  font-family: 'Lilita One', cursive;
}

body {
  margin: 70px 30px;
}

h1 {
  font-size: 40px;
}

a {
  color: #2C60A1;
  text-decoration: underline;
  padding-left: 10px;
}

p {
  color: #2C60A1;
}

img {
  height: 90px;
  width: 90px;
}

.search-form {
  width: 100%;
  height: 100px;
}

/* nav bar */

.navbar.is-link {
  display: flex;
  margin: 15px auto;
}

.navbar {
  min-height: 4rem;
  max-height: 4rem;
  position: static;
}

.nav-logo {
  max-width: 65px;
  max-height: 65px;
  margin: 0px 15px;
}

.navbar-color {
  color: white;
  text-decoration: none;
}

.navbar-menu {
  background-color: #3273dc;
  padding-left: 7px;
  padding-right: 20px;
}

.navbar-brand {
  background-color: white;
}

/* nav bar end */

.button.is-link.is-outlined {
  background-color: transparent;
  border-color: white;
  color: white;
  margin: -62px -64px;
}

.button.is-link.is-outlined.search {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
  margin: 0 auto;
}

.input.is-info, .textarea.is-info {
  display: flex;
  max-width: 300px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  margin: 34px 15px;
}

.input.is-info.search, .textarea.is-info {
  display: flex;
  max-width: 300px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  margin: 20px 0px;
}