<script type="text/javascript">
  (function() {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#'+burger.dataset.target);
    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>game.it</strong> by Cait, Mike, Milcah, and Eddie. The source code is licensed at
        <a href="https://github.com/caitfriedlander/game.it">game.it</a>.
      </p>
    </div>
  </footer>
</body>
</html>