<!DOCTYPE html>
<html>

<head>
    <title>Game.it</title>
    <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<nav class="navbar is-link">
    <div class="navbar-brand">
        <a href="/">
            <img class="nav-logo" src="https://i.imgur.com/Kr52iDO.png" alt="game.it: find friends. play games.">
        </a>
    </div>

    <div class="navbar-menu">
        <% if (user) { %>
            <div class="navbar-start">
                <div class="navbar-item is-hoverable">
                    <a href="/">Search Games</a>
                    <div class="navbar-item is-hoverable">
                        <a href="/chats">Chat</a>
                        <div class="navbar-item is-hoverable">
                            <a href="users/library">Profile</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item is-hoverable">
                    <a href='/logout'>Logout</a>
                </div>
            </div>
        <% } else { %>
            <div class="navbar-end">
                <div class="navbar-item is-hoverable">
                    <a href="/auth/google">Login with Google</a>
                </div>
            </div>
        <% } %>

    </div>
</nav>

<body>