<%- include('../_partials/head') %>

    <h1>game.it</h1>
    <h2>Welcome to game.it, <%= user.name %>!</h2>
    <h3>create your profile below</h3>
    <img src="<%= user.avatar %>">
    <form action="/users?_method=PUT" method="POST">
        <label>Username: </label><br>
        <input type="text" name="username"><br><br>
        <label>Email: </label><br>
        <input type="text" name="email"><br><br>
        <label>Platform: </label><br><br>
            <select name="platforms" multiple="multiple" size="3">
                <option value ="PC (Microsoft Windows)">PC (Windows)</option>
                <option value ="PlayStation 4">PS4</option>
                <option value ="Xbox One">Xbox One</option>
                <option value ="Linux">Linux</option>
                <option value ="Mac">Mac</option>
                <option value ="Nintendo Switch">Nintendo Switch</option> 
                <option value ="PlayStation 3">PS3</option>
                <option value ="Xbox 360">Xbox 360</option>
            </select><br><br>
        <label>Age: </label><br>
        <input type="text" name="age"><br><br>
        <label>Gender: </label><br>
        <input type="text" name="gender"><br><br>
        <label>Timezone: </label><br>
        <input type="text" name="timezone"><br><br>
        <input type="submit" value="Create User">
    </form>


<%- include('../_partials/footer') %>