<%- include('../_partials/head') %>

    <h1>User Search Page</h1>
    <% console.log(users) %>
    <ul>
        <% users.forEach( function(user) { %>
            <li><a href="/users/<%= user.id %>"><%= user.username %></a></li>
        <% }); %>
    </ul>
    

<%- include('../_partials/footer') %>