<%- include('../_partials/head') %>
    <h1>Chat</h1>
    <ul id="messages"></ul><hr>
    <h2 id="user-name"><%= user.name %></h2>
    <br>
    <textarea id="new-msg"></textarea><br><br>
    <input type="button" id="btn-send-msg" value=" Send Message ">
<%- include('../_partials/footer') %>